@import "~bulma/sass/utilities/_all.sass";
// Set your colors
$primary: #2A668D;
$secondary: #E46C2C;
$c0: #E46C2C;
$c1: #133B6B;
$c2: #881600;
$c3: #EDAE49;
$c4: #3E5641;
$c5: #FAC9B8;
$c6: #E5D4C0;
$c7: #E3E36A;
$c8: #aac9e1;
$c9: #EDAE49;

$secondary-invert: findColorInvert($secondary);
$family-serif: "Times New Roman", "Droid Serif", "Times","Source Serif Pro", serif;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "link": ($link, $link-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($red, $red-invert),
  "secondary":($secondary, $secondary-invert),
  "c0":($c0, $white),
  "c1":($c1, $white),
  "c2":($c2, $white),
  "c3":($c3, $white),
  "c4":($c4, $white),
  "c5":($c5, $white),
  "c6":($c6, $white),
  "c7":($c7, $white),
  "c8":($c8, $white),
  "c9":($c9, $white),
);

.has-background-c0 {
  background-color: $c0
}

.has-background-c1 {
  background-color: $c0
}

.has-background-c2 {
  background-color: #B3CFE4
}
.has-background-grey {
  background-color: $grey-lighter
}

$border: $grey-light;

$subtitle-weight: $weight-semibold;

.title {
  font-family: $family-serif;
}

.has-text-serif {
  font-family: $family-serif;
}

.has-text-sans {
  font-family: $family-sans-serif;
}

.has-center-div {
  @media screen and (min-width: $tablet) {
    border-right-color: $border;
    border-right-style: solid;
    border-right-width: 1px;
  }
}

@import "~bulma";
